/*!
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

@import '~eclipsefdn-solstice-assets/less/quicksilver/styles.less';
@import '_variables.less';

.header-wrapper-coming-soon {
  background: #303846 top center;
  background-image: url(images/background.jpg);
  background-size: cover;
}

.website-coming-soon__container {
  background: rgba(0, 0, 0, .9);

  @media (min-width: @screen-md-min) {
    margin-bottom: 30rem;
  }

  .eclipsefdn-members-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color:#fff;
    li {
      display: flex;
      box-shadow: 0 4px 8px 0 rgba(97, 97, 97, 0.2), 0 6px 20px 0 rgba(87, 87, 87, 0.19);
      align-items: center;
      color:#000;
      background-color: #fff;
      width: 130px;
      height: 90px;
      margin: 10px;
      padding: 10px;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

.website-coming-soon {
  h1,
  h2,
  h3 {
    text-shadow: 2px 1px 0 #000;
    color: #fff;
  }
}