<div class="container website-coming-soon">

  <div class="website-coming-soon__container col-md-14 col-md-offset-5">
    <div class="website-coming-soon__content">
      <h1 class="text-center white">Eclipse Dataspace</h1>
      <!-- <h2 class="text-center white margin-bottom-30 h4">A Planned Eclipse Foundation Working Group</h2> -->
      <p>The Eclipse Dataspace Working Group will encourage, develop, and promote open source solutions that will enable
        the development, as well as the participation in dataspaces for organizations of all types and sizes. It does
        not favor a specific industry or type of organization and is fully dedicated to enable global adoption of
        dataspace technologies to foster the creation and operation of trusted data sharing ecosystems. The working
        group will have a strong focus on participating in standards development, implementation and onboarding of
        existing open source projects and providing guidance to associated projects on alignment of supporting a broad
        ecosystem of interoperable dataspaces.</p>

      <h3>Members</h3>

      <ul class="eclipsefdn-members-list margin-bottom-20 list-inline center-block" data-id="dataspace"
        data-ml-template="only-logos"></ul>

      <p>Learn more about this working group:</p>

      <ul>
        <li><a href="https://www.eclipse.org/org/workinggroups/dataspace-charter.php">Working Group Charter</a>
        </li>
        <li><a
            href="https://www.eclipse.org/org/workinggroups/wgpa/eclipse-dataspace-working-group-participation-agreement.pdf">Participation
            Agreement</a></li>
        <li><a
            href="https://www.eclipse.org/org/workinggroups/sponsorship/working-group-sponsorship-agreement.pdf">Sponsorship
            Agreement</a></li>
      </ul>

    </div>
    <p class="margin-bottom-0">
      <a class="btn btn-primary" href="https://accounts.eclipse.org/mailing-list/dataspace-wg">Join
        the Mailing List</a>
    </p>
  </div>
</div>
